<h1>Welcome#index</h1>
<p>Find me in app/views/welcome/index.html.erb</p>

<div data-controller="hello">
    <h1 data-target="hello.header"></h1>
</div>

<%# <div id="calendar"></div> %>

<div data-controller="calendar">
    <div data-target="calendar.calendar"></div>
</div>
